.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 10px;
  gap: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.item {
  background-color: bisque;
  border-radius: 9px;
  padding: 5px;
  margin: 0;
}

.flag {
  width: 250px;
  height: 200px;
}