.cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 50px;
  padding-bottom: 50px;
  gap: 10px;
  text-align: end;
  align-items: center;
}

.item {
  background-color: #4369b2;
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  width: 250px;
  height: 210px;
}

.flag {
  width: 110px;
  height: 70px;
}

.popupFlag {
  width: 150px;
  height: 100px;
}

.flagBtn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.viewBtn {
  width: 20px;
  filter: invert(1);
}

.province {
  font-weight: 700;
  color: #fff;
  margin-right: 15px;
  margin-top: 15px;
}

.country {
  font-weight: 500;
  color: #fff;
  margin-right: 15px;
}

.back {
  width: 30px;
  float: right;
  transform: translate(-60px, -20px);
}

.back:hover {
  filter: invert(1);
  transition: all 0.5s ease-in;
}

.popup-container {
  /* background-color: #1d1d1d; */
  background-image: url(./assets/slide1.jpg);
  height: 100vh;
}

.popup {
  transform: translateY(15%);
  background-color: #436ab2e3;
  width: 45%;
  padding-top: 70px;
  padding-bottom: 30px;
  text-align: center;
  margin: auto;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #1d1d1d;
}

.region {
  width: 70%;
  margin: auto;
  padding: 20px;
}

.info:hover {
  background: #1d1d1d;
  padding: 6px 0;
  transition: all 0.3s ease-in;
}

.title {
  margin-bottom: 22px;
  margin-top: 10px;
}

.footer {
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.footer-heading {
  color: #4369b2;
}

.span {
  color: #1d1d1d;
}

.footer-text {
  margin-top: 10px;
}



/* the mobile Version */
@media screen and (max-width: 768px) {
  .cards {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-bottom: 50px;
    gap: 0;
    text-align: end;
    align-items: center;
  }

  .item {
    background-color: #5077c0;
    border-radius: 0;
    padding: 5px;
    margin: 0;
    width: 50%;
    height: 150px;
  }

  .item:nth-child(1),
  .item:nth-child(4),
  .item:nth-child(5),
  .item:nth-child(8),
  .item:nth-child(9),
  .item:nth-child(12),
  .item:nth-child(13),
  .item:nth-child(16),
  .item:nth-child(17),
  .item:nth-child(20),
  .item:nth-child(21),
  .item:nth-child(24),
  .item:nth-child(25) {
    background-color: #3f62a6;
  }

  .lightColor {
    background-color: #5077c0;
  }

  .darkColor {
    background-color: #3f62a6;
  }

  .flag {
    width: 60px;
    height: 40px;
  }

  .head {
    font-size: 20px;
    display: none;
  }

  .text {
    font-size: 20px;
    display: none;
  }
}
